<div class="container">
  <h2>Cart</h2>

  <div class="row" *ngFor="let book of cartList">
      <div class="col s12">
        <div class="card horizontal hoverable">
          <div class="card-image">
              <a [routerLink]="['/search/', book.id]">
            <img [src]="book.thumbnail || 'http://placeskull.com/128/200/FF0000/10'" alt=""></a>
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>{{ book.title }}</p>
              <p>Author: {{ book.authors || "unavailable" }}</p>
              <p>Prix: {{ book.price || "unavailable"}} {{ book.currencyCode }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-cart-total></app-cart-total>
</div>