<div class="row">
  <div class="col s12">
    <div class="card horizontal hoverable">
      <div class="card-image">
        <img [src]="book.volumeInfo.imageLinks?.thumbnail || 'http://placeskull.com/128/200/FF0000/10'" alt="">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p><a [routerLink]="['/search/', book.id]">{{ book.volumeInfo.title }}</a></p>
          <p>Auteur(s): {{ book.volumeInfo.authors?.join(', ') || "unavailable" }}</p>
          <p>Average Rating: {{ book.volumeInfo.averageRating || "unavailable" }}</p>
          <p>Prix: {{ book.saleInfo.retailPrice?.amount || "unavailable"}} {{ book.saleInfo.retailPrice?.currencyCode }}</p>
        </div>
      </div>
    </div>
  </div>
</div>