<div class="container">
  <h2>Details</h2>

  <img [src]="book.volumeInfo.imageLinks?.thumbnail || 'http://placeskull.com/125/125/FF0000/10'" alt="">
  <div *ngIf="book">{{ book.volumeInfo.title }}</div>
  <p>Auteur(s): {{ book.volumeInfo.authors?.join(', ') || "unavailable" }}</p>
  <p>Average Rating: {{ book.volumeInfo.averageRating || "unavailable" }}</p>
  <p>Genre(s): {{ book.volumeInfo.categories.join(' - ') || "unavailable" }} </p>
  <p>Publisher: {{ book.volumeInfo.publisher || "unavailable" }}</p>
  <p>Format eBook: {{ book.saleInfo.isEbook ? "yes" : "no" }}</p>
  <p>Price: {{ book.saleInfo.retailPrice?.amount || "unavailable" }} {{ book.saleInfo.retailPrice?.currencyCode }}</p>
  <button class="btn">Add to Cart</button>

  <p [innerHTML]="book.volumeInfo.description"></p>

  <p>Language: {{ book.volumeInfo.language }}</p>
  <p>Paperback: {{ book.volumeInfo.pageCount }} pages</p>
  <!-- afficher isbn 10 et/ou 13-->

  <p>ISBN 10: {{ book.volumeInfo.industryIdentifiers[0].identifier || "unavailable" }}</p>
  <p>ISBN 13: {{ book.volumeInfo.industryIdentifiers[1].identifier || "unavailable" }}</p>

</div>
